body {
    background-color: #1A2130;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
    color: #F1F8E8;
}

button {
    background-color: #1A2130;
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 200px;
    background-color: blanchedalmond;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: rgb(229, 194, 143);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#humanDisplay, #computerDisplay {
    font-size: 2.5rem;
    color: #F1F8E8;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0px;
    color: #FFF5E1;
}

.displayScore {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.scoreDisplay {
    font-size: 2rem;
    color: #F1F8E8;
}

.greenText, #humanScoreDisplay {
    color: green;
}

.redText, #computerScoreDisplay {
    color: rgb(106, 12, 12);
}